<div mat-dialog-content
     fxLayout="column"
     fxFlexAlign="center center"
     style="padding: 10px"
>
  <h1 style="margin-bottom: 10px; text-align: center">Mentions minimales d'informations</h1>

  <p>
    Les informations recueillies sur ce formulaire sont enregistrées dans un fichier informatisé par Tracknfit pour vous proposer un service de suivi de votre alimentation. La base légale du traitement est la sauvegarde des intérêt vitaux.
  </p>
  <p>
    Les données collectées seront communiquées aux seuls destinataires suivants : vous-même et Tracknfit.

    Les données sont conservées sur une durée indéterminée, où jusqu'à leur suppression par vous.
  </p>
  <p>
    Vous pouvez accéder aux données vous concernant, les rectifier, demander leur effacement ou exercer votre droit à la limitation du traitement de vos données. (en fonction de la base légale du traitement, mentionner également : Vous pouvez retirer à tout moment votre consentement au traitement de vos données ; Vous pouvez également vous opposer au traitement de vos données ; Vous pouvez également exercer votre droit à la portabilité de vos données)
  </p>
  <p>
    Consultez le site cnil.fr pour plus d’informations sur vos droits.

    Pour exercer ces droits ou pour toute question sur le traitement de vos données dans ce dispositif, vous pouvez contacter (le cas échéant, notre délégué à la protection des données ou le service chargé de l’exercice de ces droits) : myke.chastang@orange.fr
  </p>
  <p>
    Si vous estimez, après nous avoir contactés, que vos droits « Informatique et Libertés » ne sont pas respectés, vous pouvez adresser une réclamation à la CNIL.
  </p>

  <div mat-dialog-actions>
    <button mat-raised-button color="accent" (click)="close()">OK</button>
  </div>
</div>



