<div
  class="side-menu-container"
>
  <div
    fxLayout="column"
    fxLayoutAlign="center"
  >
    <div
      fxLayout="column"
      fxLayoutAlign="center center"
      class="titre"
    >
      <p>Vos repas aujourd'hui</p>
      <mat-icon>add</mat-icon>
    </div>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Telephone</mat-label>
        <span matPrefix>+1 &nbsp;</span>
        <input type="tel" matInput placeholder="555-555-1234">
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>
    </form>
  </div>
</div>
