@import "src/assets/sass/variable";

.homePage {
  padding: 30px 30px 110px;

  .logo {
    width: 100px;
    height: 100px;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .main-image {
    height: 200px;
    overflow: hidden;

    .raspberries {
      height: 320px;
      margin-left: 40px;

      img {
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
      }
    }

    .esprit-saint {
      font-family: $font-outfit;
      font-weight: bold;
      font-size: $font-size-title;
      margin-bottom: 20px;
    }
  }

  .bonne-alimentation {
    font-size: $font-size-content;
    padding: 35px 5px;

    p {
      margin: 0 0 5px;
    }
  }

  .inscription {
    background-color: $secondary-color;
    font-size: $font-size-content;
  }

  .coup-oeil {
    padding: 110px 0 20px 0;

    .decouvrir {
      width: 400px;
      font-size: $font-size-content;

      p {
        text-align: center;
      }

      .ramen-image {
        padding: 30px;

        img {
          width: 90%;
          height: 90%;
        }
      }
    }

    .aperçu-objectif {
      width: 300px;
      position: relative;
      box-shadow: 0 19px 15px rgba(0, 0, 0, 0.1);

      .calories-cercle-container {
        position: absolute;
        height: 100%;
        width: 100%;
        bottom: 200px;

        .calories-cercle {
          width: 200px;
          height: 200px;
          border-radius: 100px;
          border: 15px solid $calorie-circle-corlor;

          .calorie {
            font-size: $font-size-information-important;
            font-weight: bold;
          }

          .margin-p {
            font-size: $font-size-subtitle;
            margin: 0;
          }
        }
      }

      .mat-mdc-card-content {
        margin-top: 33px;
      }

      .objectif-titre, .calories-titre {
        font-size: $font-size-content;
      }

      .poids, .calories {
        font-size: $font-size-information-important;;
        padding: 20px 0;
      }

    }
  }

  .historique-container {
    padding: 40px;

    .historique-titre {
      font-size: $font-size-content;
    }
  }

  .who-section {

    .title {
      font-size: $font-size-title;
      font-weight: bold;
    }

    .question {
      margin-top: 20px;
    }

    p {
      font-size: $font-size-content;
      margin: 0;
    }
  }
}

.img-floating {
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(15px);
  }
  50% {
    transform: translatey(-15px);
  }
  100% {
    transform: translatey(15px);
  }
}
