.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 6% 0;

  h1 {
    text-align: center;
  }

  .form {
    padding: 1% 20%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .field-full-width {
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }

    .actions {
      display: flex;
      justify-content: center;
      flex-direction: row;
      gap: 30px;
    }
  }

  .title-img {
    display: flex;
    justify-content: center;
    gap: 1em;
    align-items: end;

    .icon-profile {
      background: url('/assets/images/Profiling_Outline.svg') 0 50% no-repeat;
      background-size: 100%;
      width: 10em;
      height: 5em;
    }
  }
}
