<div
  class="infoUser-container"
>
  <div
    fxLayout="row wrap"
    fxLayoutAlign="center center"
  >
    <mat-card class="info-card">
      <mat-card-header
        fxLayout="row"
        fxLayoutAlign="center center"
      >
        <mat-card-title>Ma carte d'indentité</mat-card-title>
        <mat-icon>edit</mat-icon>
      </mat-card-header>
      <div class="ligne"></div>
      <mat-card-content>
        <div
          fxLayout="column wrap"
          fxLayoutAlign="center center"
        >
          <div
          >
            <p><span>Prénom:</span> Jean</p>
          </div>
          <div
          >
            <p><span>Nom:</span> Knock</p>
          </div>
          <div
          >
            <p><span>Genre:</span> Homme</p>
          </div>
          <div
          >
            <p><span>Téléphone:</span> 075343434</p>
          </div>
          <div
          >
            <p><span>Email:</span> j.smith@wanabu.uk</p>
          </div>
          <div
            fxLayout="row"
            fxLayoutAlign="center center"
          >
            <p><span>Mot de passe:</span> </p>
            <button mat-raised-button color="primary">Modifier</button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="info-card monprofil">
      <mat-card-header
        fxLayout="row"
        fxLayoutAlign="center center"
      >
        <mat-card-title>Vos Informations</mat-card-title>
      </mat-card-header>
      <div class="ligne"></div>
      <mat-card-content>
        <div
          fxLayout="column"
          fxLayoutAlign="center center"
        >
          <div
          >
            <p><span>Taille:</span> 175 cm</p>
          </div>
          <div
          >
            <p><span>Votre poid actuel:</span> 61 kg</p>
          </div>
          <div
          >
            <p><span>Votre objectif de poid:</span> 75 kg</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <div
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <div
        class="vosDonne"
      >
        <p style="text-align: center">Vos donnée chez nous</p>
        <div class="ligne"></div>

        <p>Vos données sont bien protégées dans notre coffre fort !
          Elles permettent à de multiples  utilisateurs d’obtenir des suivis plus pertinents, et nous permettent aussi de mieux vous connaître !
          Si toutefois un doute persiste chez vous, le bouton en-dessous vous permet de supprimer toutes les données que nous avons sur vous (et votre compte aussi !)</p>
      </div>
      <button class="delete-compte" mat-raised-button color="primary">Supprimer mon compte</button>
    </div>
  </div>
</div>
