<div mat-dialog-content
     fxLayout="column"
     fxFlexAlign="center center"
     style="padding: 10px"
>
  <h1 style="margin-bottom: 10px; text-align: center">Conditions générales d'utilisation</h1>

  <p>
    Ce site a pour but de vous guidez et vous aider à atteindre vos objectifs par la saisies d'informations telles que vos repas et votre poids. Nous mettons à disposition une présentation des données simplifiées et facile à comprendre pour vous.
  </p>
  <p>
    Nous vous invitons à ne pas divulguer vos informations confidentielles telles que votre identifiants et votre mot de passe. Toute suppression de compte est irréversible pour des questions de respect de l'utilisateur, nous ne sommes pas responsables de toute suppressions par mégarde.
    Pour que nous vous fournissions un service complet, nous vous invitons à remplir les formulaires, et à consulter les mentions légales. Vous n'êtes toutefois pas obligé de donner vos informations à charactère personnelles.
  </p>
  <p>
    Nous nous réservons le droit de suspendre votre activité au sein de l'application si nous estimons que vous nuisez à son bon fonctionnement, ou que vous détournez sont utilisations.
  </p>
  <p>
    L'intégralité du site et son contenu est protégé par les droits d'auteur, l'utilisation de son contenu expresse sans autorisation préalable est interdite.
  </p>

  <div mat-dialog-actions>
    <button mat-raised-button color="accent" (click)="close()">OK</button>
  </div>
</div>
