@import "src/assets/sass/variable";

.mealCard {
  color: white;
  width: 300px;
  font-family: $font-outfit;
  .mat-card-title {
    p {
      margin: 0;
      text-justify: inter-word;
    }
  }
  .card-content {
    margin-top: 20px;
    .ligne-titre {
      width: 100px;
      height: 1px;
      margin: 20px;
      background-color: $light-color;
    }

    p {
      border-bottom: 0.5px solid $light-color;
    }
  }

  ::ng-deep .mat-mdc-card-header {
    display: flex;
    justify-content: center;
    padding: 6px 16px 0;
  }
}

.today-meal {
  background-color: $dark-color;
}
.historique-meal {
  background-color: $secondary-color;
  .mat-expansion-panel {
    background: #fff;
    color: rgba(0,0,0,.87);
    width: 250px;
  }
}
