
<div
  fxLayout="row"
  fxLayoutAlign="space-between center"
  style="margin-top: 50px"
  class="graphique-container"
>

  <mat-card style="width: 500px; padding: 20px">
    <div
    >
      <canvas baseChart
              [data]="barChartData"
              [options]="barChartOptions"
              [type]="'line'">
      </canvas>
    </div>
    <mat-card-content
      fxLayout="row"
      fxLayoutAlign="center center"
      style="padding: 10px; font-size: 16px"
    >
      <p>
        Votre objectif se trouve à seulement à 9kg !
      </p>
    </mat-card-content>
  </mat-card>
</div>
