button {
  margin: 0 auto;
}

div {
  p {
    margin: 2% 40%;
    border-bottom-width:1px;
    border-bottom-style:solid;
    border-bottom-color:green;
  }
}

h1 {
  margin: 0 30%;
}

.example-full-width {
  width: 100%;
}
