<div mat-dialog-content
     fxLayout="column"
     fxFlexAlign="center center"
>
  <h1 style="margin-bottom: 10px">Ajoutez un repas</h1>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Ajouter un aliment</mat-label>
    <input type="text"
           placeholder="Rechercher un aliment..."
           aria-label="add-aliment"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto"
    >
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let food of allFoods" [value]="food.description" (click)="addFood(food)">
        {{food.description}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <div *ngFor="let food of currentMealFoods">
      <p fxLayout="row"
         fxLayoutAlign="space-between"
      > {{ food.description }}
        <mat-icon aria-hidden="false" fontIcon="delete" color="warn" (click)="deleteFood(food)"></mat-icon>
      </p>
  </div>

  <mat-form-field appearance="outline">
    <mat-label> Nom de votre repas </mat-label>
    <input matInput placeholder="Donnez un nom à votre repas !" name="mealname" type="text" [(ngModel)]="mealName">
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-raised-button color="accent" [mat-dialog-close]="currentMeal" (click)="submit()">Valider</button>
</div>
