@import "src/assets/sass/variable";

@property --conic-mask {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0%;
}

.aperçu-objectif {
  width: 300px;
  position: relative;
  box-shadow: 0 19px 15px rgba(0, 0, 0, 0.1);

  .calories-cercle-container {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 215px;

    .calories-cercle {
      position: relative;
      width: 200px;
      height: 200px;
      border-radius: 100px;
      background: conic-gradient($light-color var(--conic-mask), #0000 0deg);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      animation: fill-progress 1s ease-in-out forwards;

      .calorie {
        font-size: $font-size-information-important;
        font-weight: bold;
        margin-top: 70px;
        margin-bottom: 25px;
        z-index: 3;
      }

      .margin-p {
        font-size: 16px;
        margin: 0;
        z-index: 3;
      }
    }
    .calories-cercle::before {
      content: '';
      position: absolute;
      height: 180px;
      width: 180px;
      background-color: #ffffff;
      border-radius: 100px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }


    @keyframes fill-progress {
      from {
        --conic-mask: 0%;
      }
      to {
        --conic-mask: 100%;
      }
    }
  }
  .mat-mdc-card-content {
    margin-top: 33px;
  }
  .objectif-titre, .calories-titre {
    font-size: $font-size-content;
  }
  .poids, .calories {
    font-size: $font-size-information-important;;
    padding: 20px 0;
  }

}
