<mat-card class="aperçu-objectif">
  <mat-card-header
    fxLayout="column"
    fxLayoutAlign="center center"
    class="calories-cercle-container"
  >
    <div
      fxLayout="column"
      fxLayoutAlign="end center"
      class="calories-cercle"
    >
      <p class="calorie">2777</p>
      <p class="margin-p">Voici les calories</p>
      <p class="margin-p">consommées </p>
      <p>aujourd’hui</p>
    </div>
  </mat-card-header>
  <mat-card-content
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <p class="objectif-titre">Votre objectif de poids</p>
    <p class="poids">70kg</p>
    <p class="calories-titre">Calories d'hier</p>
    <p class="calories">2555</p>
  </mat-card-content>
</mat-card>
