<div>
  <mat-card
    class="menu-container"
  >
    <mat-card-content
      fxLayout="row"
      fxLayoutAlign="space-around center"
      style="padding: 10px 8px"
    >
      <div
        matTooltip="Accueil"
        fxLayout="row"
        fxLayoutAlign="center center"
        class="nav-item"
        routerLink="/"
      >
        <i class="icon-home"></i>
      </div>
      <div
        fxLayout="row"
        fxLayoutAlign="center center"
        class="nav-item"
        matTooltip="Mon compte"
        routerLink="/login"
      >
        <i class="icon-user"></i>
      </div>
   <!--   <div
        fxLayout="row"
        fxLayoutAlign="center center"
        class="nav-item"
        matTooltip="Mon évolution"
        routerLink="/"
      >
        <i class="icon-food"></i>
      </div>-->
    </mat-card-content>
  </mat-card>
</div>
