@import "src/assets/sass/variable";


.monCompte-container{
  font-family: $font-outfit;
  display: flex;
  position: relative;

  .side-menu {
    width:  400px;
    position: relative;
    .side-menu-open {
      height: 100%;
      background-color: $primary-color;
      display: flex;
      justify-content: flex-end;
      position: fixed;
    }
    .side-menu-close {
      height: 100%;
      background-color: $primary-color;
      position: fixed;

      display: flex;
      justify-content: flex-end;
    }
  }
  .content {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    .menu {
      position: fixed;
      bottom: 16px;
    }
  }
  .menu-open {
    width: auto;
  }
}
