
<div
  fxlayout="row"
  class="monCompte-container"
>
  <div
    class="side-menu"
  >
    <div *ngIf="openSideMenu" class="side-menu-close">
      <mat-icon
        class="cancel-button"
        (click)="openMenu()"
      >reorder</mat-icon>
    </div>
    <div
      fxLayout="column"
      fxLayoutAlign="start end"
      *ngIf="!openSideMenu"
      class="side-menu-open">
      <mat-icon
        class="bugrer-button"
        (click)="openMenu()"
      >cancel
      </mat-icon>
      <side-menu></side-menu>
    </div>
  </div>
  <div
    [ngClass]="{'menu-open': openSideMenu}"
    class="content">
    <objectif-view style="margin-top: 200px;"></objectif-view>
    <graphique-evolution></graphique-evolution>
    <div
      fxLayout="row"
      style="margin: 10%"
    >
      <mealCard
        [mealToday]="true"
        style="margin-right: 10%"
        class=""
      >
      </mealCard>
      <mealCard  [mealToday]="false"></mealCard>
    </div>

    <div
      class="menu"
    >
      <menu-component></menu-component>
    </div>
  </div>

</div>
