.example-div {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center
}

.example-form {
  padding: 32px;
}

.example-full-width {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  justify-content: center
}

.example-card {
  margin-left: auto;
  margin-right: auto;
  justify-content: center
}

button {
  margin-left: 5px;
}

.btn-success {
  background-color: #88D498;
}

.btn-danger {
  background-color: #E83151;
}
